<div class="users-wrap">
  <div class='ussers-title'><br>Users list</div>
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input [(ngModel)]="this.searchTxt" matInput class="example-right-align" />
    <span matPrefix ><mat-icon>{{'search'}}</mat-icon></span>
  </mat-form-field>
</div>
<hr>

<!-- <button mat-raised-button>Super material!</button> -->

<!-- <ul class="users">
  <li *ngFor="let user of users">
      <a routerLink="/user/{{user.id}}">
        <span class="badge">{{user.id}}&nbsp;</span>{{user.first_name}}&nbsp;{{user.last_name}}
      </a>
  </li>
</ul> -->

<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <a routerLink="/user/{{element.id}}">
        {{element.id}}
      </a>
     </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="first_name">
    <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.first_name}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="last_name">
    <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.last_name}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

