<div class="users-wrap">
  <div class='ussers-title'><br>Users list</div>
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input [(ngModel)]="this.searchTxt" matInput class="example-right-align" />
    <span matPrefix ><mat-icon>{{'search'}}</mat-icon></span>
  </mat-form-field>
</div>
<hr>




<button mat-raised-button>Super material!</button>
<ul class="users">
  <li *ngFor="let user of users">
      <a routerLink="/user/{{user.id}}">
        <span class="badge">{{user.id}}&nbsp;</span>{{user.first_name}}&nbsp;{{user.last_name}}
      </a>
  </li>
</ul>
